body{
    font-family:'Poppins',sans-serif;

    background:
    radial-gradient(circle at top,
    #2b1d10 0%,
    #161616 40%,
    #0d0d0d 100%);

    color:#ffffff;

    overflow-x:hidden;

    min-height:100vh;
}
#musicBtn{

    position:fixed;
    bottom:25px;
    right:25px;

    width:65px;
    height:65px;

    border-radius:50%;

    background:
    linear-gradient(
    145deg,
    #f5d68a,
    #b88a4a
    );

    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    z-index:9999;

    font-size:1.4rem;

    backdrop-filter:blur(20px);

    box-shadow:
    0 10px 30px rgba(184,138,74,.4);

    transition:.4s;
}

#musicBtn:hover{

    transform:
    translateY(-5px)
    scale(1.08);

}
.card{

    width:90%;
    max-width:900px;

    margin:50px auto;

    padding:50px;

    background:
    rgba(255,255,255,.06);

    backdrop-filter:blur(25px);

    border:1px solid
    rgba(255,255,255,.08);

    border-radius:35px;

    text-align:center;

    box-shadow:
    0 20px 60px rgba(0,0,0,.35);

    transition:.5s;
}

.card:hover{

    transform:
    translateY(-10px);

    box-shadow:
    0 30px 80px rgba(184,138,74,.25);

}
.main-title{

    font-family:
    'Cormorant Garamond',serif;

    font-size:6rem;

    font-weight:700;

    color:#f5d68a;

    text-shadow:

    0 0 20px rgba(245,214,138,.4),

    0 0 50px rgba(245,214,138,.2);

}
.couple-photo{

    width:420px;
    max-width:92%;

    border-radius:30px;

    border:3px solid
    rgba(245,214,138,.35);

    box-shadow:

    0 25px 60px rgba(0,0,0,.4),

    0 0 35px rgba(245,214,138,.2);

    transition:.5s;

}

.couple-photo:hover{

    transform:
    scale(1.03);

}
.btn{

    display:inline-block;

    padding:16px 40px;

    margin-top:20px;

    border-radius:50px;

    text-decoration:none;

    color:white;

    font-weight:600;

    background:
    linear-gradient(
    135deg,
    #f5d68a,
    #b88a4a
    );

    box-shadow:
    0 10px 30px rgba(184,138,74,.4);

    transition:.4s;

}

.btn:hover{

    transform:
    translateY(-4px)
    scale(1.03);

}
